@using MVC_ASP.NET_Core_Learn.Data.Extensions
@model IEnumerable<UserDeposit>

@{
	ViewData["Title"] = "Мої депозити";
}

<div id="main" class="wrapper style1">
    <div class="container-fluid">
        <header class="major">
            <h2>Ваші депозити</h2>
        </header>
		<div class="d-flex flex-wrap justify-content-center">
			@foreach (var userDeposit in Model)
			{
				<div class="card rounded text-white bg-dark" style="width: 24rem; margin: 30px;">
					<div class="card-body text-center">
						<h4 class="card-title">@userDeposit.Title</h4>
						@* <p class="card-text">@deposit.ShortDescription</p> *@
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item bg-dark text-white">@userDeposit.Amount грн</li>
						<li class="list-group-item bg-dark text-white">@userDeposit.SelectedTerm міс.</li>
						<li class="list-group-item bg-dark text-white">@userDeposit.InterestPayment.GetDescription()</li>
						<li class="list-group-item bg-dark text-white">@userDeposit.InterestRate%</li>
					</ul>
					<div class="card-body">
						<div class="text-center">
							@if (userDeposit.Deposit.Replenishment == true)
							{
								<a asp-action="ReplenishmentDeposit" asp-route-id="@userDeposit.Id" class="button small">Поповнити</a>
							}

							<a href="#" class="button small">Детальніше</a>
						</div>
@* 						<div class="mx-4 my-2">
							<h5 class="text-muted">@deposit.CreatedDate.ToString("dd/MM/yyyy")</h5>
						</div> *@
					</div>
				</div>
			}
		</div>

@*		Styles for cards
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h5 class="card-title">Secondary card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>

		<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h5 class="card-title">Danger card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>

		<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h5 class="card-title">Dark card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div> *@
    </div>
</div>

