@using MVC_ASP.NET_Core_Learn.ViewModels
@model UserDepositViewModel


<div id="main" class="wrapper style1" style="display: block; justify-content: center; align-items: center; flex-direction: column;">
    <header class="major">
        <h2>Оформлення депозиту</h2>
    </header>
    <div class="container d-flex justify-content-center" style="width:50%">
        <form method="post" onsubmit="updateTermsJson()">
            <!-- Передеча необхідних данних для коректного відображення форми (прихована для користувача) -->
            <div>
                <input type="hidden" asp-for="DepositId" />
                <input type="hidden" asp-for="Title" />
                <input type="hidden" asp-for="InterestRateEarlyClosure" />
                <input type="hidden" asp-for="InterestRateNoEarlyClosure" />
                @for (int i = 0; i < Model.Terms.Count; i++)
                {
                    <input type="hidden" name="Terms[@i].Id" value="@(Model.Terms[i].Id)" />
                    <input type="hidden" name="Terms[@i].NumberMonths" value="@(Model.Terms[i].NumberMonths)" />
                }
            </div>

            <!-- Перший етап -->
            <section id="stage1" class="stage">
                <h3>Крок 1: Основна інформація</h3>

                <!-- Вибір ставки -->
                <h4>Выберите ставку и условия договора:</h4>
                <span asp-validation-for="InterestRate" class="text-danger"></span>
                @if (Model.InterestRateNoEarlyClosure != null)
                {
                    <div>
                        <input type="radio" id="depositNoEarlyClosure" name="SelectedInterestRate"
                               value="@Model.InterestRateNoEarlyClosure" onchange="updateSelectedRate(this)" />
                        <label for="depositNoEarlyClosure">@Model.InterestRateNoEarlyClosure% річних<br /> для вклада без досрочного розірвання</label>
                    </div>
                }
                @if (Model.InterestRateEarlyClosure != null)
                {
                    <div>
                        <input type="radio" id="depositEarlyClosure" name="SelectedInterestRate"
                               value="@Model.InterestRateEarlyClosure" onchange="updateSelectedRate(this)" />
                        <label for="depositEarlyClosure">@Model.InterestRateEarlyClosure% річних<br /> для вклада з досрочним розірванням</label>
                    </div>
                }

                <!-- Данні сформовані на виборі ставки-->
                <input type="hidden" asp-for="InterestRate" />
                <input type="hidden" asp-for="IsEarlyClosureAllowed" />
            </section>


            <!-- Другий етап -->
            <section id="stage2" class="stage" hidden>
                <h3>Крок 2: Додаткова інформація</h3>

                <!-- Поточний тариф та процентна ставка-->
                <div class="d-flex">
                    <label for="interestRateValue"><b>Назва:</b></label>
                    <span class="mx-2">@Model.Title</span>
                     
                </div>
                <div class="d-flex">
                    <label for="interestRateValue"><b>Ставка: </b></label>
                    <span id="interestRateValue" class="mx-2"></span>
                    @* <div id="interestRateValue" class="mx-2"></div> *@
                </div>
                <br />

                <!-- Вибір термінів депозиту -->
                <div class="form-group">
                    <h4>Виберіть строк: </h4>
                    <span asp-validation-for="SelectedTerm" class="text-danger"></span>
                    <div>
                        @foreach (var term in Model.Terms)
                        {
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="selectedTerm" id="inlineRadio@(term.Id)" value="@term.NumberMonths">
                                <label class="form-check-label" for="inlineRadio@(term.Id)">@term.NumberMonths</label>
                            </div>
                        }
                    </div>
                </div>
                <br />

                <!-- Введення суми депозиту -->
                <div style="margin: 0px 0px 20px 0;">
                    <h4>
                        <label asp-for="Amount"></label>
                    </h4>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                    <div class="d-flex align-items-center">
                        <input asp-for="Amount" />
                        <span class="mx-2">UAH</span>
                    </div>
                </div>
            </section>

            <section id="stage3" class="stage d-flex flex-column align-items-center" hidden>
                <h3>Крок 3: Підтвердження</h3>
                <button class="button primary" type="submit" id="submitButton">Отправить</button>
            </section>


        </form>
    </div>
    <!-- Навігаційні кнопки -->
    <div class="d-flex justify-content-center">
        <p class="button" onclick="prevStage()" style="margin-right: 10px;">Назад</p>
        <p class="button" onclick="nextStage()">Далее</p>
    </div>
</div>

<script>
    function prevStage() {
        var stages = document.querySelectorAll('.stage'); // Знаходимо всі етапи
        for (var i = 0; i < stages.length; i++) {
            if (!stages[i].hasAttribute('hidden')) { // Знаходимо поточний етап
                if (i === 0) return; // Якщо поточний етап - перший, виходимо з функції
                stages[i].setAttribute('hidden', ''); // Приховуємо поточний етап
                stages[i - 1].removeAttribute('hidden'); // Показуємо попередній етап
                break;
            }
        }
    }

    function nextStage() {
        var stages = document.querySelectorAll('.stage'); // Знаходимо всі етапи
        for (var i = 0; i < stages.length; i++) {
            if (!stages[i].hasAttribute('hidden')) { // Знаходимо поточний етап
                if (i === stages.length - 1) return; // Якщо поточний етап - останній, виходимо з функції
                stages[i].setAttribute('hidden', ''); // Приховуємо поточний етап
                stages[i + 1].removeAttribute('hidden'); // Показуємо наступний етап
                break;
            }
        }
    }

    function updateSelectedRate(radioButton) {
        var selectedInterestRate = radioButton.value; // Отримати значення вибраної ставки
        var isEarlyClosure = radioButton.id.includes("depositEarlyClosure"); // Перевірити, чи є опція з досрочним розірванням

        // Встановити значення в моделі
        document.getElementById("InterestRate").value = selectedInterestRate;
        document.getElementById("IsEarlyClosureAllowed").value = isEarlyClosure;

        // Оновити значення ставки на сторінці
        if (isEarlyClosure) {
            document.getElementById("interestRateValue").innerText = selectedInterestRate + "% річних\n для вклада з досрочним розірванням";
        }
        else {
            document.getElementById("interestRateValue").innerText = selectedInterestRate + "% річних\n для вклада без досрочного розірвання";
        }
    }
</script>