@using MVC_ASP.NET_Core_Learn.Data.Enums
@using MVC_ASP.NET_Core_Learn.ViewModels
@model EditDepositViewModel

@{
    var interestRateOptions = new List<SelectListItem>
    {
        new SelectListItem { Value = InterestPayment.WhenReturning.ToString(), Text = "При повернені" },
        new SelectListItem { Value = InterestPayment.Monthly.ToString(), Text = "Щомісяця" },
        new SelectListItem { Value = InterestPayment.Yearly.ToString(), Text = "Щороку" },
        // Додайте інші варіанти, які вам потрібно відобразити
    };
}

<div id="main" class="wrapper style1">
    <div class="container">
        @using (Html.BeginForm("Edit", "Deposit", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShortDescription)
                @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control", rows = 4 })
                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.Replenishment, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.Replenishment, new { @class = "form-check-label" })
                </div>
                @Html.ValidationMessageFor(model => model.Replenishment, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InterestRate)
                @Html.DropDownListFor(model => model.InterestRate, new SelectList(interestRateOptions, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InterestRate, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Terms)
                @for (int i = 0; i < Model?.Terms.Count; i++)
                {
                    <div>
                        @Html.HiddenFor(model => model.Terms[i].Id)
                        @Html.TextBoxFor(model => model.Terms[i].NumberMonths, new { @class = "form-control" })
                    </div>
                }
                @Html.ValidationMessageFor(model => model.Terms, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InterestRateNoEarlyClosure)
                @Html.EditorFor(model => model.InterestRateNoEarlyClosure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterestRateNoEarlyClosure, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InterestRateEarlyClosure)
                @Html.EditorFor(model => model.InterestRateEarlyClosure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterestRateEarlyClosure, "", new { @class = "text-danger" })
            </div>

            <div style="text-align: center; margin-top: 15px;">
                <button type="submit" class="button">Зберегти</button>
            </div>
        }
    </div>
</div>
