@model IEnumerable<Deposit>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	// TODO: Скоріш всього ці функції варто перенести в модель Deposit
	string ComposeReplenishmentString(bool replenishment)
	{
		return replenishment ? "Так" : "Ні";
	}

	// Формує строку термінів
	string ComposeTermString(Deposit deposit)
	{
		var terms = deposit.Terms.Select(t => t.NumberMonths.ToString());

		if (terms.Count() == 1)
			return terms.First();

		var delimiter = terms.Count() == 2 ? " та " : ", ";
		return string.Join(delimiter, terms);
	}

	string ComposeRateClosureString(double? rateClosure)
	{
		if (rateClosure.HasValue)
		{
			return rateClosure.Value.ToString() + "%";
		}
		else
		{
			return "-";
		}
	}
}


<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2> Оберіть бажаний депозит</h2>
		</header>

		@* TODO: Додати модельне вікно для видалення, видиме тільки адміну*@
		@* <!-- Модальне вікно для підтвердження видалення -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" hidden>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Modal Title</h4>
					</div>
					<div class="modal-body">
						<p>Modal Content Goes Here</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div> *@

		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
						@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
						{
							<td rowspan="2" class="text-center">
								<p class="mb-3">Взаємодія з шаблонами</p>
								<a asp-controller="Deposit" asp-action="Create" class="btn btn-outline-success btn-lg">Додати шаблон</a>
							</td>
						}
						<th rowspan="2">Назва</th>
						<th rowspan="2">Поповнення</th>
						<th rowspan="2">Виплата процентів</th>
						<th rowspan="2">Термін, міс</th>
						<th colspan="2">Ставка річних</th>
					</tr>
					<tr style="font-size: 11pt">
						<th>Без дострокового закриття</th>
						<th>З достроковим закриттям</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
							{
								<td class="admin-td">
									<a asp-controller="Deposit" asp-action="Edit" asp-route-id="@item.Id" class="button primary small">Змінити</a>
									<a asp-controller="Deposit" asp-action="Delete" asp-route-id="@item.Id" class="button primary small">Видалити</a>
								</td>
							}
							<td><b>@item.Title</b><br />@item.ShortDescription</td>
							<td>@ComposeReplenishmentString(item.Replenishment)</td>
							<td>@item.GetInterestRateInString()</td>
							<td>@ComposeTermString(item)</td>
							<td>@ComposeRateClosureString(item.InterestRateNoEarlyClosure)</td>
							<td>@ComposeRateClosureString(item.InterestRateEarlyClosure)</td>
							<td class="middle-align">
								<a asp-controller="UserDeposit" asp-action="OrderForm" asp-route-depositId="@item.Id" class="button small">Оформити</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@* <script>
	$(document).ready(function () {
		$('#deleteButton').click(function () {
			$('#myModal').removeAttr('hidden').modal('show');
		});
	});
</script> *@